<div class="run">
  <label>Number of columns:</label>
  <input class="textbox" type="number" min="1"  [disabled]="simulateIsDisabled()" (change)="columnsChangedEvent($event)" [attr.value]="numCols()">
  <button class="button" [disabled]="simulateIsDisabled()" (click)="simulate()">Simulate</button>
</div>
<div *ngIf="simulateIsDisabled() && !isCexMode()" class="error">
  <label>{{ simulateErrorMessage() }}</label>
</div>

<div class="simulation">
  <div *ngFor="let component of components">
    <label class="componentName">{{component.blockType}}: {{component.name}}</label>
    <table class="table">
      <thead>
        <tr class="monaco-list">
          <th class="streamName">Time</th>
          <th *ngFor="let value of component.streams[0].instantValues">{{value[0]}}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="monaco-list" *ngFor="let stream of component.streams">
          <td class="streamName" [ngSwitch]="stream.class">
            <i *ngSwitchCase="&quot;input&quot;" class="bi bi-box-arrow-in-right inputIcon"></i>
            <i *ngSwitchCase="&quot;output&quot;" class="bi bi-box-arrow-right outputIcon"></i>
            <i *ngSwitchCase="&quot;local&quot;" class="bi bi-geo-fill localIcon"></i>
            {{stream.name}} ({{stream.type}})
          </td>
            <td *ngFor="let value of stream.instantValues" [ngSwitch]="stream.type">
            <input class="checkbox" *ngSwitchCase="&quot;bool&quot;"
              (change)="checkboxChanged(component, stream, value, $event)" type="checkbox" [checked]="value[1]">
            <button class="button array-view" *ngSwitchCase="&quot;array&quot;" [disabled]="!showViewArrayButton(stream)" (click)="openArrayEditor(stream, value, undefined)">
              Array
            </button>
            <button
              class="button array-view"
              *ngSwitchCase="'set'"
              [disabled]="!showViewSetButton(stream)"
              (click)="openSetEditor(stream, value, undefined)">
              Set
            </button>
            <button
              class="button array-view"
              *ngSwitchCase="'map'"
              [disabled]="!showViewMapButton(stream)"
              (click)="openMapEditor(stream, value)">
              Map
            </button>
            <input class="textbox" *ngSwitchDefault [disabled]="isDisabled(component, stream)" type="text"
              (change)="inputChanged(stream.type, value, $event)" [attr.value]="valueToString(value[1])">
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-container *ngFor="let editor of openEditors; trackBy: trackEditorById">
  <ng-container
    *ngTemplateOutlet="
      editorWindowTemplate;
      context: { $implicit: editor }
    "
  ></ng-container>
</ng-container>




<ng-template #editorWindowTemplate let-editor>
  <div class="variable-editor-overlay">
    <div class="variable-editor-modal">

      <ng-container [ngSwitch]="editor.editorKind">

        <ng-container *ngSwitchCase="'1Darray'">
          <ng-container
            *ngTemplateOutlet="
              array1DEditorTemplate;
              context: { $implicit: editor }
            "
          ></ng-container>
        </ng-container>


      <ng-container *ngSwitchCase="'2Darray'">
          <ng-container
            *ngTemplateOutlet="
              array2DEditorTemplate;
              context: { $implicit: editor }
            "
          ></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="'set'">
          <ng-container
            *ngTemplateOutlet="
              setEditorTemplate;
              context: { $implicit: editor }
            "
          ></ng-container>
        </ng-container>
 
        <ng-container *ngSwitchCase="'map'">
          <ng-container
            *ngTemplateOutlet="
              mapEditorTemplate;
              context: { $implicit: editor }
            "
          ></ng-container>
        </ng-container>
      <div *ngSwitchDefault style="padding: 12px;">
        Unknown editor kind: {{ editor.editorKind }}
      </div>
      </ng-container>

    </div>
  </div>
</ng-template>


<ng-template #array1DEditorTemplate let-editor>
    <div class="array-editor-header">
      <h3>
        {{formatArrayName(editor)}}
      </h3>
      <button class="close-button" (click)="closeEditor()">×</button>
    </div>
    <div class="array-editor-content">
<!-- *ngIf="editor.stream?.typeInfo?.sizes.length <= 2" -->
  <div  class="array-table-container">
    <table class="array-table">
      <thead>
      </thead>
      <tbody>
        <tr *ngFor="let row of getRowIndices(editor); let rowIdx = index">
          <th class="row-header">{{row}}</th>
          <td [ngSwitch]= "editor.valueType">
            
            <input *ngSwitchCase="'bool'"
              type="checkbox"
              [defaultChecked]="getArrayValue(editor, row)"
              (change)="arrayValueChanged(editor, $event, row)"
              class="array-checkbox"
              [disabled]="editor.stream?.class === 'output'"
            />
            <button class="button array-view" *ngSwitchCase="'array'" [disabled]="!showViewArrayButton(editor.stream)" (click)="openArrayEditor(editor.stream, getNestedArrayValue(editor, row), row)">
              Array
            </button>
            <input *ngSwitchDefault
              type="text"
              [defaultValue]="getArrayValue(editor,row).toString()"
              (change)="arrayValueChanged(editor,$event, row)"
              class="array-input"
              [disabled]="editor.stream?.class === 'output'"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
            
      <div class="array-editor-actions">
        <button class="button"  *ngIf="editor.stream?.class !== 'output'" (click)="saveArray(editor)">Save</button>
        <button class="button"  *ngIf="editor.stream?.class !== 'output'" (click)="closeEditor()">Cancel</button>
        <button class="button"  *ngIf="editor.stream?.class === 'output'" (click)="closeEditor()">Close</button>
      </div>
    </div>
</ng-template>


<ng-template #array2DEditorTemplate let-editor>
    <div class="array-editor-header">
      <h3>
        {{formatArrayName(editor)}}
      </h3>
      <button class="close-button" (click)="closeEditor()">×</button>
    </div>
    <div class="array-editor-content">
  <div  class="array-table-container">
    <table class="array-table">
      <thead>
        <tr>
          <th class="corner-cell"></th>
          <th *ngFor="let col of getColIndices2D(editor)" class="col-header">{{col}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of getRowIndices2D(editor); let rowIdx = index">
          <th class="row-header">{{row}}</th>
          <td *ngFor="let col of getColIndices2D(editor); let colIdx = index" [ngSwitch] = "editor.valueType">
            
            <input *ngSwitchCase="'bool'"
              type="checkbox"
              [defaultChecked]="getArrayValue2D(editor, row, col)"
              (change)="arrayValueChanged2D(editor, $event, row, col)"
              class="array-checkbox"
              [disabled]="editor.stream?.class === 'output'"
            />
            <input *ngSwitchDefault
              type="text"
              [defaultValue]="getArrayValue2D(editor,row, col).toString()"
              (change)="arrayValueChanged2D(editor,$event, row, col)"
              class="array-input"
              [disabled]="editor.stream?.class === 'output'"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
            
      <div class="array-editor-actions">
        <button class="button"  *ngIf="editor.stream?.class !== 'output'" (click)="saveArray(editor)">Save</button>
        <button class="button"  *ngIf="editor.stream?.class !== 'output'" (click)="closeEditor()">Cancel</button>
        <button class="button"  *ngIf="editor.stream?.class === 'output'" (click)="closeEditor()">Close</button>
      </div>
    </div>
</ng-template>


<ng-template #setEditorTemplate let-editor>
    <div class="set-editor-header">
      <h3>
        {{formatSetName(editor)}}
      </h3>

      <button class="close-button" (click)="closeEditor()">×</button>
    </div>

    <div class="set-editor-content">
      <div class="set-toolbar" *ngIf="editor.stream?.class !== 'output'">
        <button class="button" (click)="addSetElement(editor)">
          + Add element
        </button>
      </div>

      <div class="set-empty" *ngIf="editor.unsavedValues.length === 0">
        Set is empty.
      </div>

      <div class="set-values">
        <div class="set-item" *ngFor="let element of editor.unsavedValues; let i = index">
          <input
            class="set-input"
            type="text"
            [value]="element"
            [disabled]="editor.stream.class === 'output'"
            (change)="setElementChanged(editor, i, $event)"
          />

          <button
            class="set-remove-button"
            *ngIf="editor.stream?.class !== 'output'"
            title="Remove element"
            (click)="removeSetElement(editor, i)"
          >
            x
          </button>
        </div>
      </div>

      <div class="set-editor-actions">
        <button
          class="button"
          *ngIf="editor.stream?.class !== 'output'"
          (click)="saveSet(editor)"
        >
          Save
        </button>

        <button
          class="button"
          *ngIf="editor.stream?.class !== 'output'"
          (click)="closeEditor()"
        >
          Cancel
        </button>

        <button
          class="button"
          *ngIf="editor.stream?.class === 'output'"
          (click)="closeEditor()"
        >
          Close
        </button>
      </div>
    </div>
</ng-template>

<ng-template #mapEditorTemplate let-editor>
    <div class="map-editor-header">
      <h3>
        {{formatMapName(editor)}}
      </h3>

      <button class="close-button" (click)="closeEditor()">×</button>
    </div>

    <div class="map-editor-content">
      <div class="map-toolbar" *ngIf="editor.stream?.class !== 'output'">
        <button class="button" (click)="addMapEntry(editor)">
          + Add entry
        </button>
      </div>

      <div class="map-empty" *ngIf="editor.unsavedValues.length === 0">
        Map is empty.
      </div>

      <div class="map-values" *ngIf="editor.unsavedValues.length > 0">
        <div class="map-row map-header-row">
          <div class="map-cell-label">Key</div>
          <div class="map-cell-label">Value</div>
          <div class="map-remove-spacer"></div>
        </div>

        <div class="map-row" *ngFor="let entry of editor.unsavedValues; let i = index">
          <input
            class="map-input"
            type="text"
            [value]="entry[0]"
            [disabled]="editor.stream?.class === 'output'"
            (change)="mapKeyChanged(editor, i, $event)"
          />

          <input
            class="map-input"
            type="text"
            [value]="entry[1]"
            [disabled]="editor.stream?.class === 'output'"
            (change)="mapValueChanged(editor, i, $event)"
          />

          <button
            class="map-remove-button"
            *ngIf="editor.stream?.class !== 'output'"
            title="Remove entry"
            (click)="removeMapEntry(editor, i)"
          >
            x
          </button>
        </div>
      </div>

      <div class="map-editor-actions">
        <button
          class="button"
          *ngIf="editor.stream?.class !== 'output'"
          (click)="saveMap(editor)"
        >
          Save
        </button>

        <button
          class="button"
          *ngIf="editor.stream?.class !== 'output'"
          (click)="closeEditor()"
        >
          Cancel
        </button>

        <button
          class="button"
          *ngIf="editor.stream?.class === 'output'"
          (click)="closeEditor()"
        >
          Close
        </button>
      </div>
    </div>
</ng-template>